.tetris-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .game-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  padding: 1rem;
} */
